
@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}
#navParallax{
	list-style: none;
	position: fixed;
	right: 20px;
}

#navParallax li{
	margin: 0 0 15px 0;	
}



#primeraGeneracion{
	background: url(../paralax/gen1_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #F2F2F2;

}
#primeraGeneracion .bg4{
	background: url(../paralax/gen1_start.png) 50% 0  no-repeat ;
	height: 1300px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	width: 900px;
	z-index: 200;
}

#segundaGeneracion{
	background: url(../paralax/gen2_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #FFF;
}

#segundaGeneracion .bg{
	background: url(../paralax/gen2_start.png) 50% 0  no-repeat ;
	height: 1300px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	width: 900px;
	z-index: 200;
}

#terceraGeneracion{
	background: url(../paralax/gen3_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #F2F2F2;
}
#terceraGeneracion .bg2{
	background: url(../paralax/gen3_start.png) 50% 0 no-repeat ;
	height: 1300px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#cuartaGeneracion{
	background: url(../paralax/gen4_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #FFF;
}
#cuartaGeneracion .bg3{
	background: url(../paralax/gen4_start.png) 50% 0 no-repeat ;
	height: 1300px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	position: absolute;
	width: 900px;
	z-index: 200;
}
#quintaGeneracion{
	background: url(../paralax/gen5_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #F2F2F2;
}
#quintaGeneracion .bg5{
	background: url(../paralax/gen5_start.png) 50% 0 no-repeat ;
	height: 1300px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	position: absolute;
	width: 900px;
	z-index: 200;

}

#sextaGeneracion{
	background: url(../paralax/gen6_evo.png) 50% 0 no-repeat fixed;
	color: white;
	height:800px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-color: #FFF;
}
#sextaGeneracion .bg6{
	background: url(../paralax/gen6_start.png) 60% 0 no-repeat ;
	height: 600px;
	margin: 10em 0 0 12em;
	padding: 25px 50px;
	position: absolute;
	width: 900px;
	z-index: 200;
}

