   <div class="container-full">
    <div class="row">

     <div class="col-md-12">
      <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-indicators img-responsive" >
        <img  data-target="#carousel" data-slide-to="0"  src="images/una.png"/>

        <img  data-target="#carousel" data-slide-to="1" src="images/dos.png"/>
        <img  data-target="#carousel" data-slide-to="2" src="images/una.png"/>
      </div><!--Close of indicators-->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="images/charizardY.jpg" class="img-responsive" >
        </div><!--Close of item active-->
        <div class="item">
          <img src="images/diancie.jpg" class="img-responsive">
        </div><!--Close of second item-->
        <div class="item">
          <img src="images/gengar.jpg" class="img-responsive">
        </div><!--Close of third item-->
      </div><!--Close of wrapper for slides-->
     </div><!--Close of carousel-->
    </div><!--Close of col-md-12-->
    <div class="col-md-1"></div>
   </div><!--Close of row-->
  </div><!--First Container-->

 <div class="container">
  	<div class="row">
  	 <div class="col-md-2"></div>
  	 <div class="col-md-8">
  	  <img src="images/title.png" width="50%" class="img-responsive title-image">	
  	 </div>
  	 <div class="col-md-2"></div>	
  	</div><!--Close of row-->
  </div><!--Container image-->

	<div class="container">
		 <div class="row">
			<div class="col-md-4 col-xs-4"></div>
			<div class="col-md-4 col-xs-4" >
				<div ng-show="currentUser">
					<p>
						<h1>Welcome <strong><u>{{currentUser.get('username')}}</u></strong></h1>
						<button onclick="location.href='#/paginaInicio'" class="blackButton">List Pokedex Generation</button>
						<button ng-click="logOut(user)" class="blackButton">log out</button>
					</p>
				</div>
				<!--Password requierements-->
				<div> 
					<!--Form for Sign Up-->
					<form class="form-horizontal" ng-hide="currentUser">
						<div class="form-group">
							Email: <input type="email" ng-model="user.email" class="form-control" placeholder="Email">
						</div><!--Close of first form-group-->
						<div class="form-group">
							Username: <input type="text" ng-model="user.username" class="form-control" placeholder="Username">
						</div><!--Close of second form-group-->
						<div class="form-group"> 
							Password: <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
						</div><!--Close of third form-group-->
						<div class="form-group">
							<!-- Button trigger modal -->
							<button type="button" class="btn login-button" data-toggle="modal" data-target="#myModal">
							  Log in!!!
							</button>
							<button ng-click="signUp(user, '/paginaInicio')" class="btn pull-right login-button">Sign up!!</button>
						</div><!--Close of fourth form-group-->
					</form><!--Close of signUp form-->
					<div ng-show="passLength" class="green-words"><span class="glyphicon glyphicon-ok"></span><span> Your password is longer than 8 characters</span></div>
					<div ng-show="!passLength" class="red-words"><span class="glyphicon glyphicon-remove"></span><span> Your password isn't longer than 8 characters</span></div>
					<div ng-show="passUpper" class="green-words"><span class="glyphicon glyphicon-ok"></span><span> Your password has Uppercase</span></div>
					<div ng-show="!passUpper" class="red-words"><span class="glyphicon glyphicon-remove"></span><span> Your password don't have Uppercase</span></div>
					<div ng-show="passLower" class="green-words"><span class="glyphicon glyphicon-ok"></span><span> Your password has LowerCase</span></div>
					<div ng-show="!passLower" class="red-words"><span class="glyphicon glyphicon-remove"></span><span> Your password don't have LowerCase</span></div>
					<div ng-show="passNumber" class="green-words"><span class="glyphicon glyphicon-ok"></span><span> Your password has numbers</span></div>
					<div ng-show="!passNumber" class="red-words"><span class="glyphicon glyphicon-remove"></span><span> Your password don't have numbers</span></div>
				</div> <!--Password requierements-->
				<div >


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
		<div class="modal-content fondo">
			<div class="modal-header ">
			<button type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
			<!--Form to log In-->
				<form class="form-horizontal">
					<div class="form-group">
					Username: <input type="text" ng-model="user.username" class="form-control" placeholder="Username">
					</div><!--Close of first from group second form-->
					<div class="form-group">
					Password: <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
					</div><!--Close of second form group second form-->
					<div class="form-group"> 
					<button ng-click="logIn(user, '/paginaInicio')" class="btn pull-right login-button" data-dismiss="modal">Log in</button>
					</div><!--Close of third form group second form-->
				</form><!--Close of LogIn form-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
				</div>
			</div><!--Close of col-md-4--> 
			<div class="col-md-4 col-xs-4"></div><!--CLose of col-md-5-->		
			  </div><!--Close of row-->
	</div><!--Second container-->